@model Classe

<form asp-area="Prefet" asp-controller="Classe" asp-action="Delete" asp-route-idPrefet="@ViewBag.idPrefet" asp-route-id="@Model.ClasseID" method="post">
    <table border="0">
        <tr>
            <td class="right">
                <label asp-for="Nomcomplet"></label>
            </td>
            <td>@Model.Nomcomplet</td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Supprimer</button>
            </td>
        </tr>
    </table>
</form>

<a asp-area="Prefet" asp-controller="Classe" asp-action="Index" asp-route-id="@ViewBag.PrefetID">Retour à  la liste des classes </a>